{% extends "layout.html" %}

{% block title %}
    Stock Quote
{% endblock %}

{% block main %}
    <div class="container">
        <table class="table">
            <tr>
                <th>Stock Symbol</th>
                <th>Qty. of Shares</th>
                <th>Share Price</th>
                <th>Total</th>
                <th></th>
            </tr>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock['stock'].upper() }}</td>
                    <td>{{ stock['quantity'] }}</td>
                    <td>{{ usd(stock['price']) }}</td>
                    <td>{{ usd(stock['total']) }}</td>
                    <td>
                        <button class="btn btn-default" value="{{ stock['stock'] }}" data-action="buy">Buy</button>
                        <button class="btn btn-default" value="{{ stock['stock'] }}" data-action="sell">Sell</button>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td>CASH</td>
                <td></td>
                <td></td>
                <td>{{ usd(cash) }}</td>
                <td></td>
            </tr>
            <tr>
                <td><strong>TOTAL</strong></td>
                <td></td>
                <td></td>
                <td>{{ usd(total) }}</td>
                <td></td>
            </tr>
        </table>
    </div>
    <script src="{{url_for('static', filename='button.js')}}"></script>
{% endblock %}